<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- 
    {
        name: "Apple",
        isReadyToEat: true
    }
     -->
    
    <h1>Create Fruit Page</h1>
    <form action="/fruits/create" method="post">

        <label for="fruitName">Fruit Name:</label>
        <input id="fruitName" type="text" required minlength="10">

        <label for="isReadyToEat">Is Ready To Eat?</label>
        <input id="isReadyToEat" type="text">

        <button type="submit">Submit</button>
    </form>

</body>
</html>