<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Fruit</h1>

    <form action="/fruits/<%= foundFruit._id %>?_method=PUT" method="post">
        <label for="name">Name:</label>
        <input value="<%= foundFruit.name %>" type="text" name="name" id="name">

        <label for="isReadyToEat">Is Ready To Eat</label>
        <input <% if(foundFruit.isReadyToEat){ %> checked<% }%> type="checkbox" name="isReadyToEat" id="isReadyToEat">

        <button type="submit">Update</button>
    </form>
</body>
</html>